{% extends 'base_admin.html.twig' %}

{% block title %}{{ era.name }}{% endblock %}
{% block description %}{{ 'index.description'|trans }}{% endblock %}

{% trans_default_domain "admin_era" %}

{% block body_admin %}
    <h1>{{ era.name }}</h1>
    <p class="lead">
        {{ 'index.description'|trans }}
    </p>

    <div class="mb-3">
        <a class="btn btn-primary" href="{{ path('admin_era_entry_new', {'era': era.id}) }}">
            {{ "new.title"|trans({}, "admin_era_entry") }}
        </a>
    </div>

    {% if era.entries|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ "entity.title"|trans({}, 'entity_era_entry') }}</th>
                <th>{{ "Email"|trans({}, 'entity_era_entry') }}</th>
                <th>{{ "Last reminder sent"|trans({}, 'entity_era_entry') }}</th>
                <th class="w-minimal"></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in era.entries %}
                <tr>
                    <td>
                        {{ entry.fullName }}
                    </td>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.lastReminderSent|format_date_time }}</td>
                    <td>
                    <span class="btn-group">
                        <a class="btn btn-outline-primary"
                           href="{{ path('admin_era_entry_edit', {'era': era.id, 'entry': entry.id}) }}">
                            <i class="fas fa-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger"
                           href="{{ path('admin_era_entry_remove', {'era': era.id, 'entry': entry.id}) }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if announce_form %}
        {{ form(announce_form) }}
    {% endif %}
{% endblock %}
