{% extends 'base_admin.html.twig' %}

{% block title %}{{ era.name }}{% endblock %}
{% block description %}{{ 'index.description'|trans }}{% endblock %}

{% trans_default_domain "admin_era" %}

{% import "shared/components.html.twig" as components %}

{% block body_admin %}
    <h1>{{ era.name }}</h1>
    <p class="lead">
        {{ 'index.description'|trans }}
    </p>

    <p class="mt-3">
        <strong>{{ "Announced at"|trans({}, "entity_era") }}</strong>: {{ era.announcedAt|format_date_time }}
        {{ components.show_yes_no(era.announcedAt) }} <br/>

        <strong>{{ "Deadline at"|trans({}, "entity_era") }}</strong>: {{ era.deadlineAt|format_date }} <br/>
        <strong>{{ "status.title"|trans({}, "entity_era") }}</strong>:
        {% if not era.deadlinePassed %}
            {{ "status.open"|trans({}, "entity_era") }}
        {% else %}
            {{ "status.closed"|trans({}, "entity_era") }}
        {% endif %}
        <br/>
    </p>

    <div class="mt-5 mb-3">
        <a class="btn btn{% if era.deadlinePassed %}-outline{% endif %}-primary"
           href="{{ path('admin_era_entry_new', {'era': era.id}) }}">
            {{ "new.title"|trans({}, "admin_era_entry") }}
        </a>
    </div>

    {% if era.entries|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ "entity.title"|trans({}, 'entity_era_entry') }}</th>
                <th>{{ "Email"|trans({}, 'entity_era_entry') }}</th>
                <th>{{ "Last reminder sent"|trans({}, 'entity_era_entry') }}</th>
                <th>{{ "is_confirmed"|trans({}, 'entity_era_entry') }}</th>
                <th class="w-minimal pe-2"></th>
                <th class="w-minimal"></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in era.entries %}
                <tr>
                    <td>
                        {{ entry.fullName }}
                    </td>
                    <td>{{ entry.email }}</td>
                    <td>{{ entry.lastReminderSent|format_date_time }}</td>
                    <td>
                        {{ components.show_yes_no(entry.lastConfirmedAt) }}
                    </td>
                    <td>
                    <span class="btn-group">
                        <a class="btn btn-outline-secondary"
                           href="{{ path('reply', {'entry': entry.id}) }}" target="_blank">
                            <i class="fas fa-link"></i>
                        </a>
                        {% if not era.deadlinePassed %}
                            <a class="btn btn-outline-secondary"
                               href="{{ path('admin_era_resend', {'era': era.id, 'entry': entry.id}) }}">
                            <i class="fas fa-envelope"></i>
                        </a>
                        {% endif %}
                    </span>
                    </td>
                    <td>
                    <span class="btn-group">
                        <a class="btn btn-outline-primary"
                           href="{{ path('admin_era_entry_edit', {'era': era.id, 'entry': entry.id}) }}">
                            <i class="fas fa-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger"
                           href="{{ path('admin_era_entry_remove', {'era': era.id, 'entry': entry.id}) }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if announce_form %}
        <div class="mt-5">
            {{ form(announce_form) }}
        </div>
    {% endif %}

    {% if era.announcedAt %}
        <div class="mt-5">
            <a class="btn btn{% if not era.deadlinePassed %}-outline{% endif %}-primary"
               href="{{ path('admin_era_export', {'era': era.id}) }}">
                {{ "export.title"|trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}
