{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}
{% block description %}{{ 'index.description'|trans }}{% endblock %}

{% trans_default_domain "admin" %}

{% import "shared/components.html.twig" as components %}

{% block body_admin %}
    <h1>{{ 'index.title'|trans }}</h1>
    <p class="lead">
        {{ 'index.description'|trans }}
    </p>

    <div class="mb-3">
        <a class="btn btn-primary" href="{{ path('admin_era_new') }}">
            {{ "new.title"|trans({}, "admin_era") }}
        </a>
    </div>

    {% if eras|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ "entity.title"|trans({}, 'entity_era') }}</th>
                <th>{{ "Deadline at"|trans({}, 'entity_era') }}</th>
                <th>{{ "is_announced"|trans({}, 'entity_era') }}</th>
                <th class="w-minimal"></th>
            </tr>
            </thead>
            <tbody>
            {% for era in eras %}
                <tr>
                    <td>
                        <a href="{{ path('admin_era_view', {'era': era.id}) }}">
                            {{ era.name }}
                        </a>
                    </td>
                    <td>{{ era.deadlineAt|format_date }}</td>
                    <td>
                        {{ components.show_yes_no(era.announcedAt) }}
                    </td>
                    <td>
                    <span class="btn-group">
                        <a class="btn btn-outline-primary" href="{{ path('admin_era_edit', {'era': era.id}) }}">
                            <i class="fas fa-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger" href="{{ path('admin_era_remove', {'era': era.id}) }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
